@import 'imports'
@import 'angular-material'

@keyframes letters-loading
    0%
      color: white
    25%
      color: red
    50%
      color: red
    75%
      color: red
    100%
      color: white

.fullscreen-loader
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, 0.5)
  z-index: 1050
  &__letters
    position: absolute
    text-align: center
    width: 100%
    top: 50%
    margin-top: -40px
    line-height: 40px
    font-size: 40px
    font-family: 'Rubik Mono One', sans-serif
    text-transform: uppercase
    animation-name: letters-loading
    animation-duration: 2s
    animation-iteration-count: infinite