@import 'variables'
@import 'imports'

.app-header
  padding: 0
  overflow: hidden
  position: relative
  width: 150%
  @include transition(margin-left ease-in-out 0.15s)
  &__main
    padding: 0.5rem 0
  &__logo
    overflow-x: hidden
    @include transition(width ease-in-out 0.15s, padding ease-in-out 0.15s)
    &-collapseable
      display: inline-block
      max-width: 9999px
      overflow: hidden
      font-size: $font-size-lg
      line-height: inherit
      vertical-align: top
      @include transition(max-width ease-in-out 0.15s)
    &-noncollapseable
      display: inline-block
      font-size: $font-size-lg
      line-height: inherit
      vertical-align: top
    .navbar-brand
      margin: 0
      letter-spacing: 0.04rem
      word-spacing: -0.5rem
      font-family: 'Rubik Mono One', sans-serif
      text-transform: uppercase
  &__aside
    display: block
    min-width: 2.25em
    padding: 0 0.5rem
  &__search
    &-form
      padding: 0.5rem
      background: darken($gray-dark, 5%)
    &-toggler
      border-radius: 100%
      width: 2.25em
      height: 2.25em
      padding: 0.5em
      color: $teal
    &-button
      border-radius: 100%
      width: 2.25em
      height: 2.25em
      padding: 0.5em
      background-color: $teal
      border-color: $gray-dark
    &-input
      display: inline-block
      border-radius: 2.25em
      height: 2.25em
      width: 2.25em
      margin-right: -2.25em
      border-color: $gray-dark
      padding: 0.5em
  &.--search-visible
    margin-left: -50%
    .app-header__search-input
      width: 100%
      padding: 0.5em 2.5em 0.5em 0.5em

@include media-breakpoint-down(md)
  .app-header
    width: 200%
    &.--search-visible
      margin-left: -90%
    //&.--search-visible
    //  .app-header__logo
    //    width: 0
    //    padding: 0

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.fullscreen-loader
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1050
  .loader
    $loader-size: 20px
    $loader-borders-size: 2px
    position: absolute
    content: ''
    display: block
    width: $loader-size
    height: $loader-size
    margin-top: $loader-size / 2
    margin-left: $loader-size / 2
    top: 50%
    left: 50%
    animation: spin 1s linear infinite
    &:after,
    &:before
      position: absolute
      content: ''
      display: block
      width: $loader-size
      height: $loader-size
      top: 50%
      left: 50%
      border-radius: 100%
      border: $loader-borders-size solid
    &:after
      border-color: $teal
      bottom: $loader-size / -2
      right: $loader-size / -2
    &:before
      border-color: $blue
      top: $loader-size / -2
      left: $loader-size / -2