@import 'variables'
@import 'imports'

.app-header
  &__logo
    overflow-x: hidden
    @include transition(width ease-in-out 0.15s, padding ease-in-out 0.15s)
    .navbar-brand
      font-family: 'Rubik Mono One', sans-serif
      text-transform: uppercase
  &__aside
    display: inline-block
  &__search
    &-toggler
      border-radius: 100%
      width: 2.25em
      height: 2.25em
      padding: 0.5em
      background-color: $teal
      border-color: $gray-dark
    .form-control
      border-radius: 2.25em
      height: 2.25em
      width: 2.25em
      margin-right: -2.25em
      border-color: $gray-dark
      padding: 0.5em
      @include transition(width ease-in-out 0.15s, padding ease-in-out 0.15s)
  &.--search-visible
    .app-header__search-form
      .form-control
        width: auto
        padding: 0.5em 2.5em 0.5em 0.5em

@include media-breakpoint-down(sm)
  .app-header.--search-visible
    .app-header__logo
      width: 0
      padding: 0

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.fullscreen-loader
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1050
  .loader
    $loader-size: 20px
    $loader-borders-size: 2px
    position: absolute
    content: ''
    display: block
    width: $loader-size
    height: $loader-size
    margin-top: $loader-size / 2
    margin-left: $loader-size / 2
    top: 50%
    left: 50%
    animation: spin 1s linear infinite
    &:after,
    &:before
      position: absolute
      content: ''
      display: block
      width: $loader-size
      height: $loader-size
      top: 50%
      left: 50%
      border-radius: 100%
      border: $loader-borders-size solid
    &:after
      border-color: $teal
      bottom: $loader-size / -2
      right: $loader-size / -2
    &:before
      border-color: $blue
      top: $loader-size / -2
      left: $loader-size / -2