nav.navbar.navbar-inverse.bg-inverse.app-header(
  [class.--search-visible]='searchVisible'
)
  //form.app-header__search-form
  //  input.form-control.app-header__search-input(type='text', placeholder='Поиск...')
  //  button.btn.btn-secondary.app-header__search-button()
  //    i.fa.fa-search
  .app-header__main.d-flex.flex-row.justify-content-between.align-items-start
    .app-header__aside
    .app-header__logo
      a.navbar-brand(uiSref="app.news")
        strong.app-header__logo-noncollapseable С
        span.hidden-sm-down.app-header__logo-collapseable
          |трана&nbsp;
        strong.app-header__logo-noncollapseable С
        span.hidden-sm-down.app-header__logo-collapseable
          |овершенно&nbsp;
        strong.app-header__logo-noncollapseable С
        span.hidden-sm-down.app-header__logo-collapseable
          |лучайных&nbsp;
        strong.app-header__logo-noncollapseable С
        span.hidden-sm-down.app-header__logo-collapseable
          |овпадений
    .app-header__aside.text-right
      form.app-header__search-form
        input.form-control.app-header__search-input(type='text', placeholder='Поиск...')
        button.btn.btn-secondary.app-header__search-button((click)='toggleSearchField($event)')
          i.fa.fa-search
      //button.btn.btn-link.app-header__search-toggler((click)='toggleSearchField($event)')
      //  i.fa.fa-search