md-toolbar.app-header(color="primary")
  .app-header__logo(uiSref="app.news")
    strong С
    span.hidden-md-down="трана "
    strong С
    span.hidden-md-down="овершенно "
    strong С
    span.hidden-md-down="лучайных "
    strong С
    span.hidden-md-down="овпадений"
  .app-header__search
    form
      md-icon.fa-search