app-header
main
  h1 Hello from {{title}}!
  // Images (and assets) are parsed and loaded from within the public directory
  img(src='/images/angular.png')
  img(src='/images/angular.png')
  img(src='/images/angular.png')
  img(src='/images/angular.png')
  img(src='/images/angular.png')
  img(src='/images/angular.png')
  img(src='/images/angular.png')
  router-outlet
footer
  a([href]='url') Webpack Angular 2 Starter