doctype html
html
  head
    meta(charset='utf-8')
    title Angular Webpack Builder
    link(rel='icon', type='image/x-icon', href='/img/favicon.ico')
    base(href='/')
  body
    ui-view
      .fullscreen-loader
        .fullscreen-loader__letters СССС
    //- ac-app
    //-   .fullscreen-loader
    //-     .fullscreen-loader__letters СССС